* {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}


body {
    background-color: #343740;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

:focus {

    outline: none
}

:focus-visible {
    outline: #F00 solid 5px;
    outline-offset: 2px;
}

input[type=text]:focus-visible {
    outline: auto;
}


h1,
h2,
h3,
.message {
    text-align: center;
}

h1 {
    font-size: 25px;
}


h2 {
    font-size: 16px;
}

.inputLabel {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.exportScheduleButton {
    margin-top: 15px;
}

hr {
    color: black;
    border: black solid 0.1px;
}

hr.sectionBreak {
    width: 27em;
    margin-top: 19px;
    margin-bottom: 19px;
    height: 0.01px;
}

.inputcontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.version {
    display: block;
    text-align: center;
    font-size: 15px;
}

.input {
    padding: 5px;
}

.ics {
    font-size: 20px;
}

input[type="text"] {
    border: black solid 2px;
    border-radius: 6px;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.message {
    margin-top: 18px;
    display: none;
    color: white;
    font-size: 18px;
    border-left: solid rgb(255, 254, 245) 4px;
    background-color: rgb(255, 229, 58);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;

}



.message.flashing {
    animation-name: flashing;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

.message.show {
    display: block;

}

.message.success {
    color: rgb(0, 0, 0);
    border-left: solid #008d1e 4px;
    background-color: rgb(106, 255, 108);
}

.message.error {
    color: rgb(78, 0, 14);
    border-left: solid rgb(255, 0, 0) 4px;
    background-color: rgb(255, 133, 133);
}

@keyframes flashing {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message.alert {
    color: rgb(34, 33, 32);
    border-left: solid rgb(204 119 0) 4px;
    background-color: rgb(237 170 75);
}

.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

img {
    width: 100px;
    height: 100px;
}

#rightarrow {
    width: 60px;
    height: 60px;
}

#popupbuttoncontainer,
.school-search,
.fileInputContainer,
.fileName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttonContainer * {
    margin: 4px;
    margin-top: 10px;
}

.buttonContainer .message {
    margin: 0;
}

#popupbuttoncontainer {
    margin-bottom: 10px;
}

.fileName {
    margin-bottom: 30px;
    display: none;
}

#fileName {
    width: 300px;
    font-size: 14px;
}

.school-search {
    display: none;
    margin-bottom: 30px;
}

.search-results {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    display: none;
}


.school-search a {
    font-weight: bold;
    color: rgb(255, 254, 254);
    text-decoration: underline white;
}

.school-search a:hover {
    font-weight: bold;
    color: #f49c9c;
    text-decoration: underline #f49c9c;
}



.message.error a {
    color: #000000;
    text-decoration: underline #1d1d1d;
}

.message.error a:hover {
    color: #726161;
    text-decoration: underline #696262;
}

button,
.buttonLike,
input[type="file"]::file-selector-button {
    border-radius: 10px;
    padding: 10px;
    border: black solid 2px;
    background-color: white;
    -webkit-user-select: none;
    user-select: none;
}


button:not(:disabled):hover,
.buttonLike:hover,
input[type="file"]::file-selector-button:hover {
    background-color: rgb(97, 97, 255);
    cursor: pointer;
}

button:not(:disabled):active,
.buttonLike:active,
input[type="file"]::file-selector-button:active {
    background-color: rgb(34, 34, 244);
}

.buttonLike {
    color: black;
    border-radius: 50%;
}

input[type="file"]::file-selector-button {
    font-size: 12px;
}

.header {
    margin-bottom: 30px;
}

.footer {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    text-decoration: underline blue;
}

.footer *,
.footer *:visited,
a {
    color: #FFC759;
    text-decoration: underline #FFC759;
}

.footer *:hover,
a:hover {
    cursor: pointer;
    color: rgb(255, 95, 170);
    text-decoration: underline rgb(255, 95, 170);
}

.classes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

summary,
label,
.courseOptions,
.classDetailKey {
    user-select: none;
}

details {
    border: 1px solid black;
    background-color: #e4e4e4;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: black;
}

details:has(summary:hover) {
    cursor: pointer;
}

details:not(.notIncluded):has(summary:hover) {
    background-color: #cacaca;
}

details:not(.notIncluded):has(.courseCheckbox:not(:checked)),
details:not(.notIncluded):has(.courseCheckbox:disabled) {
    background-color: rgb(139, 139, 139);
    color: rgba(0, 0, 0, 0.411);
}

details:not(.notIncluded):has(.courseCheckbox:not(:checked)):has(summary:hover),
details:not(.notIncluded):has(.courseCheckbox:disabled):has(summary:hover) {
    background-color: rgb(123, 123, 123);
    color: rgba(0, 0, 0, 0.411);
}

details.notIncluded {
    background-color: rgb(255, 201, 201);
}

details.notIncluded:has(summary:hover) {
    background-color: rgb(231, 180, 180);

}


details.notIncluded:has(.courseCheckbox:not(:checked)) {
    background-color: rgb(160, 125, 125);
    color: rgba(0, 0, 0, 0.411);
}

details.notIncluded:has(.courseCheckbox:not(:checked)):has(summary:hover) {
    background-color: rgb(114, 90, 90);
    color: rgba(0, 0, 0, 0.411);
}

details div {
    font-size: 16.5px
}

div::after {
    background-color: black;
}


summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

details[open] summary {
    border-bottom: solid black 2px;
    padding-bottom: 10px;
}

summary input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-left: auto;
}

summary span,
summary input[type="text"] {
    text-align: left;
}

summary span.courseCode {
    display: inline-block;
    margin-right: auto;
    width: auto;
    margin-right: 4.5px;
}

span.displayName {
    display: inline-block;
    width: 100%;
}


summary input[type="text"] {
    width: 90%;
    border: solid black 2px;
    background-color: transparent;
}


summary .summaryContent {
    white-space: nowrap;
    overflow: hidden;

}

summary .summaryContent * {
    font-size: 97%;

}

span.displayName {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



.summaryContent {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

summary input[type="text"]:focus {
    outline: none;
    background-color: transparent;
}

.courseOptions {
    margin-top: 15px;
}

.courseOption input[type=checkbox] {
    height: 14px;
    width: 14px;
}

.courseDetails {
    padding: 20px;
}

#stepsPopup {
    padding: 0;
    width: 400px;
    height: 300px;
    transition: opacity 0.2s;
}

#stepsPopup a {
    color: red
}

#stepsPopup[open]::backdrop {
    opacity: 0.5;
}

#steps li {
    margin: 10px;
    font-size: 15px;
}

.step.current,
.sublist.current li {
    font-weight: bold;
    text-decoration: underline;
}

#validation {
    text-align: center;
}

.step.past,
.sublist.past li {
    text-decoration: line-through;
}

.scheduleSettings {
    margin-top: 10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.scheduleSettings .scheduleSetting>label {
    margin-left: 4px;
}

.scheduleSettings input[type=checkbox] {
    width: 17px;
    height: 17px;
}

.scheduleSetting {
    display: flex;
    align-items: center;
}

.selectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.optionSelect {
    height: 35px;
}

select {
    border: black solid 2.5px;
    border-radius: 5px;
}

.classDetails div {
    margin-bottom: 5px;
}

.classDetails div span {
    display: block;
}

.classDetails div:not(:nth-child(1)) {
    margin-top: 10px
}

.classDetails div b {
    display: inline-block;
    width: 300px;
}


.courseButton {
    margin-top: 10px;
}

#includewaitlistedcourses {
    width: 15px;
    height: 15px;
}

input[type="file"] {
    text-align-last: center;
    margin: auto;
    font-size: 15px;
}

.fileInputContainer * {
    margin: 9px;
}

.fileInputContainer p {
    text-align: center;
    font-size: 14.5px;
    font-weight: 200;
    margin-bottom: 3px;
}

.classes h2 {
    margin: 0;
    margin-bottom: 1em;
}

.classes hr {
    border: white solid 1px;
    margin: 2em 0;
    width: 19em;
}

.classGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
}

.classGroup h2 {
    font-size: 19px;
}