h1 {
    font-size: 4em;
    margin: 0.1em 0;
}

.subheader {
    display: block;
    text-align: center;
    font-size: 1.7em;
}

body {
    padding-bottom: 10px !important;
}

.classGroup {
    width: 100%;
}



.header {
    margin: 3px !important;
}

.schedules {
    display: flex;
    justify-content: center;
}

.schedule {
    width: 30%;
}