h1 {
    font-size: 4em;
    margin-top: 0.1em;
}

p {
    display: block;
    text-align: center;
    font-size: 1.7em;
    width: 45em;
}

hr {
    border: 2px white solid;
    width: 60em;
}

.subheader {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.settingsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#per_course>.courseOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}


.settingsHeader h2 {
    margin-bottom: 0;
}

#leCourseSettings,
label {
    font-size: 18px;
}

.subheaderSettings {}

hr.short {
    width: 10em;
}

h2 {
    font-size: 3em;
    margin-bottom: 0.4em;
}

h2.underline {
    text-decoration: underline solid white 2px;
}

.links {
    display: flex;
    gap: 10px;
    font-size: 1.9em;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settingsDropdowns {
    margin-top: 30px;
}

.settingExplain {
    font-style: italic;
    font-size: 13.3px;
    font-weight: bolder;
    margin-left: 50px;
}

.settingsArea:not(.per-course) .settingContainer:not(:last-child) {
    margin-bottom: 20px;
}

.inputHeader {
    text-align: left;
    text-decoration: none;
    font-size: 19px;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.settingsDropdowns details hr {
    border: black solid 1px;
    margin-left: 0;
}

.settingContainer.select select {
    display: block;
    padding: 4px;
    margin-top: 5px;
    field-sizing: content;
}

.settingContainer.select label {
    font-weight: bold;
}

#buttonContainer,
#messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}

#messageContainer {
    margin-top: 0;
}

#buttonContainer div {
    font-size: 20px;
    text-align: center;
}