* {
  font-family: "Figtree", system-ui, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}

body {
  background-color: rgb(228, 200, 45);
  width: 430px;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

h1,
h2,
h3,
.message {
  text-align: center;
}

h1 {
  font-size: 25px;
}


h2 {
  font-size: 16px;
}

hr {
  color: black;
  border: black solid 0.1px;
}

.inputcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.version {
  display: block;
  text-align: center;
  font-size: 15px;
}

.input {
  padding: 5px;
}

.ics {
  font-size: 20px;
}

input[type="text"] {
  border: black solid 2px;
  border-radius: 6px;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.message {
  margin-top: 18px;
  display: none;
  color: white;
  font-size: 18px;
  border-left: solid rgb(255, 254, 245) 4px;
  background-color: rgb(255, 229, 58);
  padding: 10px;
}

.message.show {
  display: block;
  margin-bottom: 15px;
}

.message.success {
  color: rgb(40, 40, 40);
  border-left: solid rgb(0, 145, 0) 4px;
  background-color: rgb(147, 255, 148);
}

.message.error {
  color: rgb(78, 0, 14);
  border-left: solid rgb(255, 0, 0) 4px;
  background-color: rgb(255, 164, 79);
}

.message.alert {
  color: rgb(34, 33, 32);
  border-left: solid rgb(151, 88, 0) 4px;
  background-color: rgb(253, 156, 20);
}

.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

img {
  width: 100px;
  height: 100px;
}

#rightarrow {
  width: 60px;
  height: 60px;
}

.buttoncontainer,
#popupbuttoncontainer,
.school-search,
.fileName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#popupbuttoncontainer {
  margin-bottom: 10px;
}

.fileName {
  margin-bottom: 30px;
  display: none;
}

#fileName {
  width: 300px;
}

.school-search {
  display: none;
}

.search-results {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.school-search a {
  font-weight: bold;
  color: black;
}

.school-search a:hover {
  font-weight: bold;
  color: rgb(82, 82, 82);
}

.footer *,
.footer *:visited {
  color: blue;
}

.footer *:hover {
  cursor: pointer;
}

.footer *:hover {
  color: black;
}

button {
  border-radius: 10px;
  padding: 10px;
  border: black solid 2px;
}

button:not(:disabled):hover {
  background-color: rgb(97, 97, 255);
}

button:not(:disabled):active {
  background-color: rgb(34, 34, 244);
}

.header {
  margin-bottom: 30px;
}

.footer {
  position: sticky;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  text-decoration: underline blue;
}

.footer:hover {
  text-decoration: underline black;
}

.classes {
  margin-top: 50px;
  margin-bottom: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
}

summary,
.options {
  user-select: none;
}

details.class {
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
}

details.class.notIncluded {
  background-color: rgb(255, 201, 201);
}

details.class.notIncluded summary input[type="text"]:focus {
  background-color: rgb(253, 209, 209);
}

details div {
  font-size: 16.5px;
}

details:has(summary:hover) {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}


details[open] summary {
  border-bottom: solid black 2px;
  padding-bottom: 10px;
}

summary {
  display: flex;
  font-size: 15px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

summary input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-left: auto;
}



summary span,
summary input[type="text"] {
  width: 300px;
  font-size: 16px;
  text-align: left;
}

summary span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

summary input[type="text"]:focus {
  background-color: rgb(236, 236, 236)
}



.options {
  margin-top: 30px;
}

.courseDetails {
  padding: 20px;
}

#stepsPopup {
  padding: 0;
  width: 400px;
  height: 300px;
  transition: opacity 0.5s;
}

#steps li {
  margin: 10px;
  font-size: 15px;
}

.step.current,
.step.current li {
  font-weight: bold;
  text-decoration: underline;
}

#validation {
  text-align: center;
}

.step.past,
.step.past li {
  text-decoration: line-through;
}

#waitlistedContainer {
  margin-top: 10px;
  font-size: 17px;
}

#waitlistedContainer label {
  margin-left: 4px;
}

#selectionContainer {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5px;
}

#optionSelect {
  height: 30px;
}

select {
  border: black solid 2.5px;
  border-radius: 5px;
}

.classDetails div:not(:nth-child(1)) {
  margin-top: 10px
}

.courseButton {
  margin-top: 10px;
}

*:focus {
  outline: #F00 solid 1px;
}